body{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    grid-template-areas:
        "side top top top"
        "side main main main"
        "side main main main"
        "side main main main";;
    height: 100vh;
}

.side{
    grid-area: side;
    background-color: rgb(75, 75, 253);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.side > div{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.top{
    grid-area: top;
    background-color: white;
}

.main{
    grid-area: main;
    background-color: rgb(121, 117, 117);
}
.container div{
    border:1px solid red;
}

.mdi {
  font-size: 24px;
  color: white;
}
a{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}